


<form #editForm="ngForm" (ngSubmit)="deleteModel()">
    <input type="hidden" name="id" class="form-control" [(ngModel)]="model && model.id">
  <div class="form-group">
    <label for="name">Name</label>
    <div class="col-md-2">
      <p>{{model && model.name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="abrv">Abbreviation</label>
    <div class="col-md-2">
      <p>{{model && model.abrv}}</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
  </div>
</form>
